.page-header {
    display: flex;
    justify-content: space-between;
    max-width: 1160px;
    min-height: 115px;
}

.header-container {
    background-color: #eee;
}

.logo {
    padding-top: 50px;
}

.page-nav__list {
    display: flex;
    justify-content: space-between;
    min-width: 440px;
    list-style: none;
    margin: 0;
    padding: 0;
    margin-top: 80px;
    text-transform: uppercase;
}

.page-nav__list a {
    transition: color ease 0.5s;
    &:hover {
        color: #fb565a;
    }
    &:active {
        opacity: 0.3;
    }
}

.page-nav__item--active {
    border-bottom: 1px solid #fb565a;
}

.user-block__list {
    position: relative;
    margin: 0;
    padding: 0; 
    padding-left: 42px;
    margin-top: 80px;
    list-style: none;
    text-transform: uppercase;
        &::before {
            content: "";
            width: 15px;
            height: 15px;
            position: absolute;
            top: 5px;
            left: 0;
            background: url("../img/cart-icon.svg") no-repeat;
        }
}

.user-block__list a {
    &:hover {
        color: #fb565a;
    }
    &:active {
        opacity: 0.3;
    }
}