.templates {
    width: 1160px;
    height: 180px;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-bottom: 2px solid #eee;
}

.templates a {
    opacity: 0.2;
    transition: opacity ease 0.5s;
    &:hover {
        opacity: 1;
    }
    &:active {
        opacity: 0.1;
    }
}