$brand-color: #d22856;
$text-color: #283136;
$confirm-color: #2aab6d;
$confirm-color--hover: #1c9b5e;

$bg-color: #fff;
$secondary-bg-color: #f2f2f2;

$base-font-family: "Roboto", sans-serif;
$base-font-size: 16px;
$base-line-height: 24px;

// $min-tablet-widths: "(min-width: 660px)";
// $max-tablet-widths: "(max-width: 659px)";
// $only-tablet-widths: "(min-width: 660px) and (max-width: 1199px)";
// $min-desktop-widths: "(min-width: 1200px)";
// $max-desktop-widths: "(max-width: 1199px)";

//$retina: "(min-resolution: 144dpi), (min-resolution: 1.5dppx)";